<div id="user" class="section">
<%- if current_user %>
  <div class="section-header" id="user-header">
    <h3>Hello <span contenteditable='true' id='username'><%= current_user.name.blank? ? current_user.email.split("@").first : current_user.name.split(" ").first %>,</span></h3>
  </div>
  <div class="section-box" id="signup-box">
    <% if current_user.email.blank? %>

    <%= form_for(current_user, :url => registration_path(current_user), :html => { :method => :put, :id => 'edit_user' }) do |f| %>
       <%= f.email_field :email, :id => 'edit_email', :placeholder => 'enter your email to receive timed reminders...' %>
       <%= f.password_field :password, :id => 'edit_password', :placeholder => 'enter a password' %>
       <%= f.submit %>
    <% end %>

    <% end %>
    <% unless current_user.instapaper_connected? && current_user.netflix_connected? %>
    <ul>
      <li>
        <% if current_user.instapaper_connecting? %>
        we're building suggestions from your Instapaper queue right now!
        <% elsif current_user.instapaper_connected? %>
        connected to your Instapaper list...
        <% else %>
        click for articles saved on your...<br />
        <h4><%= link_to 'Instapaper', '/auth/instapaper' %></h4>
        <% end %>
      </li>
      <li>
        <% if current_user.netflix_connecting? %>
        we're building suggestions from your Instapaper queue right now!
        <% elsif current_user.netflix_connected? %>
        connected to your Netflix queue...
        <% else %>
        click for movies on your queue at...<br />
        <h4><%= link_to 'Netflix', '/auth/netflix' %></h4>
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>
<% elsif !current_user %>
  <div class="section-header" id="signup-header">
    <h3>Welcome</h3>
    <p>You&apos;ll receive gentle pushes to read and watch things you already have saved. We try to optimize the suggestions around you with your and the community's help.</p>
  </div>
  <div class="section-box" id="signup-box">
      <input type="email" value="" placeholder="enter your email to get started or...">
      <ul>
        <li>
          click for articles saved on your...<br />
          <h4><%= link_to 'Instapaper', '/auth/instapaper' %></h4>
        </li>
        <li>
          click for movies on your queue at...<br />
          <h4><%= link_to 'Netflix', '/auth/netflix' %></h4>
        </li>
      </ul>
    </div>

  <div class="section-header" id="signin-header">
    <h3>Already Signed Up?</h3>
  </div>
  <div class="section-box" id="signin-box">
    <p><%= link_to "Click here to sign in", new_user_session_path %></p>
  </div>
<% end %>
</div>

<div id="suggestions" style="display:none;">
</div>

<% if current_user && current_user.connected? %>
<div id="time" class="section">
  <h2>How much time do you have?</h2>
  <div class="choices-header" id="time-choices-header">
  </div>
  <div class="choices-box" id="time-choices-box">
    <ul>
      <li class="choice" data-choice-type="time" data-choice="5">A few minutes</li>
      <li class="choice" data-choice-type="time" data-choice="15">Roughly 15 minutes</li>
      <li class="choice" data-choice-type="time" data-choice="30">Around half an hour</li>
      <li class="choice" data-choice-type="time" data-choice="60">Around an hour</li>
      <li class="choice" data-choice-type="time" data-choice="180">2-3 hours</li>
    </ul>
  </div>
</div>

<div id="location" class="section">
  <h2>Where are you?</h2>
  <div class="choices-header" id="location-choices-header">
  </div>
  <div class="choices-box" id="location-choices-box">
    <ul>
      <li class="choice" data-choice-type="location" data-choice="home">Home</li>
      <li class="choice" data-choice-type="location" data-choice="work">Work</li>
      <li class="choice" data-choice-type="location" data-choice="commuting">Commuting</li>
    </ul>
  </div>
</div>
<% end %>