<%= form_for(@context_option) do |f| %>
  <% if @context_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@context_option.errors.count, "error") %> prohibited this context_option from being saved:</h2>

      <ul>
      <% @context_option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :context_id %><br />
    <%= f.number_field :context_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
