<p id="notice"><%= notice %></p>

<p>
  <b>Context:</b>
  <%= @context_option.context_id %>
</p>

<p>
  <b>Name:</b>
  <%= @context_option.name %>
</p>


<%= link_to 'Edit', edit_context_option_path(@context_option) %> |
<%= link_to 'Back', context_options_path %>
