<!DOCTYPE html>
<html>
  <head>
    <title>Humble Suggestions</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <% if content_for(:head) %>
    <%= yield :head %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <div id="title">Humble Suggestions</div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
