<!DOCTYPE html>
<html>
  <head>
    <title>Humble Suggestions</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= yield :head if content_for(:head) %>
    <%= csrf_meta_tags %>
    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
    e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("<%= MIXPANEL_CODE[Rails.env] %>");</script>
      <!-- end Mixpanel -->
  </head>
  <body>
    <div class="grid-container">
      <div id="header">
        <a href="/" class="grid-60 mobile-grid-100"><div id="title">Humble Suggestions</div></a>
        <div id="controls" class="grid-40 mobile-grid-100">
          <div id="account">
            <% if current_user %>
              <a class="btn" href="/settings"><i class="icon-cog icon-small"></i> Settings</a>
            <% elsif !request.path.eql?('/') %>
              <a class="btn" href="<%= new_user_session_path %>"><i class="icon-home icon-small"></i> Sign In</a>
              <a class="btn" href="/"><i class="icon-user icon-small"></i> Join Now!</a>
            <% end %>
          </div>
        </div>
      </div>
      <%- if notice %><div class="notice grid-100"><%= notice %></div><% end %>
      <%- if alert %><div class="alert grid-100"><%= alert %></div><% end %>
      <div id='content'>
        <%= yield %>
      </div>
    </div>
    <%= tracking %>
  </body>
</html>
